.button {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 20px;
  padding: 10px 16px;
}

.button:hover {
  background-color: #eb7da7;
}


.button:active {
  background-color: #F082AC;
}