.card {
  background-color: white;
  color: rgb (51, 51, 51);
  border-radius: 2px;
  padding: 8px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  max-width: 500px;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}

h3 {
  margin: 10px 0 0 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: rgb(112,112,112);
}

.card-footer {
  display: flex;
  padding: 8px 0 0 0;
}

.priority-icon {
  flex-grow: 1;
}

a {
  color: rgb(80, 95, 121);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 8px;
}

